.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 40vmin;
	pointer-events: none;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@font-face {
	font-family: ikarosFont;
	src: url(fonts/Ikaros-Regular.otf);
}

* {
	font-family: 'Poppins', sans-serif;
}

input {
	background-color: transparent;
}

.section {
	background-color: white;
}

.main {
	max-height: 100%;
}

.main-exit-animation-exit-active {
	transform: scale(1) translateX(0)!important;
	transition: 300ms;
	overflow: visible;
}

.main-exit-animation-exit {
	max-height: 100%;
}

.main-exit-animation-enter {
	transform: scale(.8) translateX(-300px)!important;
	transition: 300ms;
}

.main-exit-animation-enter-done {
	transform-origin: center;
	transform: scale(.8) translateX(-300px)!important;
	pointer-events: none;
	overflow: hidden;
	max-height: 100vh;
}


.no-pointer {
	pointer-events: none;
}

/* Animation */

/* Responsive */

@media (max-width: 1199px) {
	.main__exited {
		transform: scale(.8) translateX(-350px)!important;
	}
}

@media (max-width: 767px) {
	.main__exited {
		transform: scale(.8) translateX(-360px)!important;
	}

	.fp-tableCell {
		padding: 0 20px;
	}
	
}

/* animations */

@keyframes stuckSlideShownH4 {
	from {
		width: 0;
	}

	to {
		width: 100%;
	}
}

@keyframes stuckSlideHiddenH4 {
	from {
		width: 100%;
	}

	to {
		width: 0;
	}
}